* {
    font-family: 'Bungee', cursive;
}

.entry {
    width: 100%;
    height: auto;
}

.entry div:first-of-type {
    width:50%;
    font-size:1em;
}
.entry div {
    float: left;
    margin-right: 10%;
}
.card {
    padding: 5%;
    margin:5%;
    background-color: #CCC;
}

.card p:first-of-type {
    font-size: 1.2em;
}

.cardImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.card-body p{
    text-align: center;
}
#header {
    background-color: #333;
}
#header h1 {
    color: #FFF;
}